    <!-- 사이드 바 -->
    <div class="sideNav">
        <ul class="gnb">
          <li class="on">
            <a href="#" class='closeBtn'><i class="fa-solid fa-xmark"></i></a>
            <span class='logout'>Logout</span>
          </li>
          <li>
            <a href="#"> 앨범 만들기 </a>
            <!-- <ul>
              <li><a href="#">나만의 사진첩</a></li>
              <li><a href="#">가족사진첩</a></li>
              <li><a href="#">커플사진첩</a></li>
            </ul> -->
          </li>
          <li>
            <a href="#">콘테스트 참가</a>
          </li>
          <li>
            <a href="#">투어 달성율 보기</a>
          </li>
          <li>
            <a href="#">내 쿠폰 보기</a>
          </li>
        </ul>
      </div>